.page{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.page-wrapper{
    width: 80%;
    margin-top: 20px;
    display: flex;
    glyph-orientation-horizontal: 20px;

}
.onepage{
    flex: 1;
    margin-top: 100px;
    box-shadow: 1px 1px 5px black;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.twopage{
    flex: 2;
    margin-top: 100px;
    display: flex;
    /* width: 10px; */
    justify-content: start;
    align-items: flex-start;
    margin-left: 20px;
    flex-direction: column;
    margin-left: 100px;
}
@media screen and (max-width:600px) {
    .page-wrapper{
        flex-direction: column;
    }
    .twopage{
        margin-top: 50px;
    }
}

.seatnum-page{
    margin-left: 15rem;
}
.your-booking{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}